* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text-up {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

header ul {
  text-align: right;
}

header ul li {
  display: inline-block;
}

header .top-head {
  background-color: #0282f9;
  padding: 5px 0;
}

header .top-head li {
  margin-left: 60px;
}

header .top-head li a {
  color: #fff;
}

header .sub-head a {
  display: inline-block;
}

header .sub-head a img {
  height: 80px;
}

header .sub-head .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .sub-head .nav-menu li {
  padding: 0 10px;
}

header .sub-head .nav-menu li a {
  display: block;
  line-height: 105px;
  color: #464646;
}

header .sub-head .nav-menu li a.active,
header .sub-head .nav-menu li a:hover {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

footer h3 {
  color: #fff;
  padding: 20px 0;
}

footer ul li a {
  color: #959595;
}

footer .top-foot {
  padding: 30px 0;
  background-image: url("/images/footer-bg.jpg");
}

footer .side {
  display: flex;
}

footer .side div {
  margin-right: 20px;
}

footer .copyright {
  padding: 30px 0;
}

footer .copyright p {
  color: #959595;
}

footer .copyright a {
  color: #0282f9;
}

#jumbo {
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#products {
  color: #fff;
  background-color: #1c1c1c;
}

#products h2 {
  padding: 20px;
  transform: translateY(-50%);
  background-color: #0282f9;
  display: inline-block;
}

#products .comic-bag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#products .comic-bag .comic-card {
  padding: 10px;
  flex-basis: calc(100%/6);
}

#products .comic-bag .comic-card figure {
  width: 180px;
  height: 180px;
  text-align: center;
  margin-bottom: 10px;
}

#products .comic-bag .comic-card figure img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}

#products .load-more {
  padding: 40px;
  text-align: center;
}

#products .load-more a {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #0282f9;
}

#products .cta {
  padding: 20px 0;
  background-color: #0282f9;
}

#products .cta ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#products .cta ul img {
  height: 55px;
}

#products .cta span {
  color: #fff;
}

#products .cta img {
  margin-right: 15px;
  vertical-align: middle;
}

