#details {
    .h-bar {
        height: 100px;
        background-color: $main_color;
        position: relative;
        .big-cover {
            display: block;
            position: absolute;
            bottom: 30px;
            border: 1px solid white;
            p {
                text-align: center;
                background-color: $main_color;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }
            span {
                position: absolute;
                background-color: $main_color
            }
        }
    }
}

#info-comic {
    padding: 50px 0;
    .expanded-info {
        float: left;
        width: calc(100% / 3 * 2);
        h1 {
            margin-bottom: 20px;
        }
    }
    .advertising {
        text-align: right;
        float: left;
        width: calc(100%/3);
    }
    .info-bar {
        border-bottom: 1px solid #357739;
        background-color: #55ba59;
        display: flex;
        .info-left {
            p:last-child {
                color: #bafd9c;
            }
            color: #fff;
            border-right: 1px solid #357739;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            span {
                color: white;
            }
        }
        .info-right {
            color: white;
            padding: 10px;
        }
    }
    .description {
        font-size: 15px;
        line-height: 1.7;
        padding: 20px 0;
    }
}

#summary {
    a {
        color: #00a9d9;
    }
    background-color: #f5f5f5;
    padding: 50px 0;
    h2 {
        margin: 20px 0;
        color: #003f5e;
    }
    li {
        border-bottom: 1px solid lightgrey;
        padding: 10px 0;
        &:first-child {
            border-top: 1px solid lightgrey;

        }
    }
    .talent {
        width: 48%;
        float: left;
    }
    .right-sum {
        display: inline-block;
        width: 68%;
    }
    .specs {
        width: 48%;
        float: right;
    }
    h4 {
        color: #003f5e;
        vertical-align: top;
        display: inline-block;
        width: 30%;
    }

}

#more-services {
    background-color: #f5f5f5;

    border: 1px solid grey;
    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    figure {
        &:hover {
            background-color: #fff;
            figcaption {
                color: black;
            }

        }
        border-left: 1px solid grey;
        padding: 10px;
        &:hover img {
            object-position: 0 -37px;
        }
        img {
            width: 37px;
            height: 36px;
            object-fit: none;
            object-position: 0 0;
        }
        &:nth-child(2)  {
            img {
                object-position: -37px 0;
            }
            &:hover img {
                object-position: -37px -37px;
            }
        }
        &:nth-child(3)  {
            img {
                object-position: -74px 0;
            }
            &:hover img {
                object-position: -74px -37px;
            }
        }
        &:nth-child(4)  {
            border-right: 1px solid grey;
            img {
                object-position: -111px 0;
            }
            &:hover img {
                object-position: -111px -37px;
            }
        }
        figcaption {
            color: grey;
            font-family: $title_font;
            margin-right: 40px;
            display: inline;
            vertical-align: top;
        }
    }
}
