#jumbo {
    height: 400px;
    background-image: url('/images/jumbotron.jpg');
}
#products {
    h2 {
        padding: 10px;
    }
    .comic-bag {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .comic-card {
            padding: 10px;
            flex-basis: calc(100%/6);
            figure {
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
    }

}
