header {
    ul {
        text-align: right;
        li {
            display: inline-block;
        }
    }
    .top-head {
        background-color: $main_color;
        padding: 5px 0;
        li {
            margin-left: 60px;
            a {
                color: $light_link;
            }
        }
    }
    .sub-head {
        .logo img {
            height: 80px;
        }
        a {
            font-family: $title_font;
            display: inline-block;
        }
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                padding: 0 10px;
                a {
                    display: block;
                    line-height: 105px;
                    color: $nav_head_color;
                    &.active, &:hover {
                        color: $main_color;
                        border-bottom: 3px solid $main_color;
                    }
                    .arrow-down {
                        color: $main_color;

                    }
                }
            }
        }
        form {
            border-bottom: 3px solid $main_color;
            input {
                margin-right: 10px;
                width: 120px;
                border: none;
                font-size: 16px;
                text-align: right;
                font-weight: bold;
            }

        }


    }
}
