$main_color : #0282f9;
$nav_head_color: #464646;
$light_link: #fff;
$second_bg_color: #1c1c1c;
$foot_link: #959595;
$sub_foot_bg: #303030;
$title_font: 'Open Sans Condensed', sans-serif;
$main_font:'Open Sans', sans-serif;
